<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet care Zone</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <div>
            <img class="logo" src="img/cropped-cropped-logo-1-1.png" width="60px" alt="">
        </div>
        <div>
            <ul class="header1">
                <li><a href="#">Home</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <!-- <li><a href="#">Project</a></li> -->
            </ul>
        </div>
    </div>
    <div>
        <div>
            <img src="img/First Background.png" alt="" width="100%">
            <h1 class="FirstBackground">For Your Best</h1>
            <h1 class="FirstBackground1">Friend</h1>
            <h1 class="FirstBackground2">Pet Care Center</h1>
            <p class="Grooming">
                Grooming & Supply provides grooming services for all dog and cat <br>
                breeds. We are fully committed to the health and hygiene of your furry <br>
                best friends. We offer free estimates and consultations to help your pet <br>
                look and feel their best !.
            </p>
            <input class="BookNow" type="button" value="Book Now">
        </div>
    </div>
    <div>
        <div style="position: relative;">
            <div>
                <img class="aboutimg" src="img/Second Background.png" alt="">
                <div class="about">
                    About use
                </div>
                <p
                    style="display: flex; justify-content: center; margin-left: 590px; font-size: 20px; margin-top: 30px;">
                    Lorem ipsum
                    dolor, sit amet consectetur adipisicing elit. Maxime consequatur est aut repellendus
                    placeat veniam magnam, consequuntur labore enim aspernatur temporibus dicta eligendi incidunt
                    odio architecto, ex debitis, modi sequi. <br> <br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus tempore voluptatem pariatur
                    consequatur aut numquam blanditiis! Obcaecati, quas doloribus, consectetur sed necessitatibus
                    laudantium blanditiis a quaerat maxime officia eveniet quos. <br> <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusantium dolorem culpa nulla,
                    doloremque soluta odit quibusdam adipisci cupiditate, facilis et hic ut illo maiores nostrum at
                    impedit ex? Nesciunt.
                </p>
                <div class="dog1">
                    <img src="img/dog1.png" width="450px" alt="">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="ourservice">
            <p class="ourservice1">Our Service</p>
            <div class="serviceimg">
                <img class="img" src="img/service1.png" alt="">
                <img class="img" src="img/service2.png" alt="">
                <img class="img" src="img/service3.png" alt="">
                <img class="img" src="img/service4.png" alt="">
            </div>
            <div>
                <p style="color: white; margin-left: 100px; font-size: 30px; margin-top: -250px;">Pet <br> Boardung</p>
                <p style="color: white; margin-left: 370px; margin-top: -70px; font-size: 25px;">Pet Spa <br> and <br>
                    Grooming</p>
                <p style="color: white; margin-left: 650px; margin-top: -70px; font-size: 25px;">Healthy <br> Meals </p>
                <p style="color: white; margin-left: 930px; margin-top: -70px; font-size: 25px;">Activity <br> Exercise
                </p>

            </div>
        </div>
    </div>

    <div>
        <div class="OurFeatures">
            <p>Our Features</p>
            <p style="font-size: 20px; margin-left: 250px; margin-right: 250px;">Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Quas numquam, cum reprehenderit dolore facilis ex velit qui soluta itaque molestias, a
                debitis atque ut iste? Officiis nesciunt quo minima molestiae.</p>
            <div style="display: flex; justify-content: space-around; margin-top: 40px;">
                <img src="img/icon1.png" alt="">
                <img src="img/icon1.png" alt="">
            </div>
            <p style="font-size: 30px; margin-right: 630px; margin-top: 10px;">Natural Products</p>
            <p style="font-size: 30px; margin-left: 630px; margin-top: -35px;">Natural Products</p>

            <div style="display: flex; justify-content: space-around; margin-top: 60px;">
                <img src="img/icon2.png" alt="">
                <img src="img/icon2.png" alt="">
            </div>
            <p style="font-size: 30px; margin-right: 630px; margin-top: 10px;">Vet Care</p>
            <p style="font-size: 30px; margin-left: 630px; margin-top: -35px;">Vet Care</p>

            <div style="display: flex; justify-content: space-around; margin-top: 60px;">
                <img src="img/icon3.png" alt="">
                <img src="img/icon3.png" alt="">
            </div>
            <p style="font-size: 30px; margin-right: 630px; margin-top: 10px;">Training</p>
            <p style="font-size: 30px; margin-left: 630px; margin-top: -35px;">Training</p>
            <div>
                <img style="margin-top: -450px;" src="img/feature_center.png" width="300px" alt="">
            </div>
        </div>
    </div>

    <div style="position: relative;">
        <img src="img/Buttom Image.jpeg" width="100%" alt="">
        <p class="FindYourFriend">Find Your Friend</p>
        <p class="Adopting">Adopting is an act of love</p>
        <p style="
        position: absolute;
        font-size: 20px;
        margin-top: -280px;
        margin-left: 100px;
        color: white; margin-right: 755px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis saepe labore
            nesciunt
            consectetur expedita, veniam magni necessitatibus! Dignissimos nesciunt enim, sed sequi placeat est
            laboriosam? Enim rerum tempora impedit in!</p>
        <input class="BookNow2" type="submit" value="Book Now" name="">
    </div>
    <div>
        <p class="OurGalleryTitle">Our Gallery</p>
        <div>
            <div class="gallery">
                <img style="margin-left: 200px;" src="img/gallery1.png" width="300px" alt="">
                <img style="margin-top: 0px; margin-left: 10px; position: absolute;" src="img/gallery3.png" width="300px"
                    alt="">
                <img style="margin-left: 320px; position: absolute;" src="img/gallery5.png" width="300px" alt="">
            </div>
            <div style="margin-top: -150px;">
                <img style="margin-left: 200px;" src="img/gallery2.png" width="300px" alt="">
                <img style="margin-left: 5px;" src="img/gallery4.png" width="300px" alt="">
                <img style="margin-left: 5px;" src="img/gallery6.png" width="300px" alt="">
            </div>
        </div>

        <form action="#">
            <div style="margin-top: 50px;">
                <img src="img/buttom.png" width="100%" alt="">
            </div>
                <div style="width: 300px; margin: 0 auto; margin-top: -377px;">
                    <input class="form" type="text" name="firstname" placeholder="Enter Name" required>
                    <input class="form" type="text" name="subject" placeholder="Enter Subject" required>
                    <input class="form" type="tel" name="number" placeholder="Enter Number" required>
                    <input class="form" type="email" name="email" placeholder="Enter Email" required>
                    <input style="height: 80px;" class="form" type="text" name="message" placeholder="Enter Message" spellcheck="true" required>
                    <input class="submit" type="submit" value="Submit">
                    
                </div>
        </form>
</body>

</html>